
#headone{
  font-weight: 900;
    text-align: center;
    font-style: italic;
}
#headtwo{
  font-weight: 500;
    text-align: center;
}
#headthree{
  font-weight: 300;
    text-align: center;
}

#b2{
    color: rgb(166, 138, 228);
    background-color: rgb(184, 229, 184);
}
#r1{
    background-color:burlywood;
    text-align: center;
    margin: 25 25 25 25;
}
.who{
    color: aqua;
}
a{
    text-decoration: none;
}
#parag{
    text-decoration: blue underline;
    text-align: center;
}
#para{
    text-align: justify;
}
#searchbar{
    text-align: left;
    background-color: black;
    color: palegreen;
    
}