body{
    background-color: antiquewhite;
    text-align: center;
}
#list{
font-weight: normal;
font-size: larger;
}
h1{
    font-style: oblique;
    text-decoration: underline;
}
select{
    padding: 10 10;
}