.City-Names{
text-align: left;
font: 1em sans-serif;
font-size: large;
};

.dashboard .searchbar{
display: inline-block;
width: 30%;
margin: 20px;
};
.dashboard .asc{
    display: inline-block;
  margin: 10px 5px;
}